.box_2 {
  margin: 0;
  padding: 0;
  width:100vw;;
  height: 70vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.box {
  position: relative;
  width: 360px;
  height: 740px;
  margin-top: 10px;
  background: rgba(0, 0, 0, .1);
  transform: rotate(-30deg) skew(25deg) scale(.7);
}
.layer {
  float: left;
  position: absolute;
  box-shadow: 0px 0px 20px rgba(0,0,0,.2);
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: url('../images/1.jpg');
  background-size: cover;
  transition: 0.5s;
}
.box .layer:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
}
.box .layer:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: .8;
}
.box .layer:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: .6;
}
.box .layer:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: .4;
}

.box:hover .layer:nth-child(4) {
  transform: translate(0px, 0px);
  opacity: 1;
}
.box:hover .layer:nth-child(3) {
  transform: translate(0px, 0px);
  opacity: .8;
}
.box:hover .layer:nth-child(2) {
  transform: translate(0px, 0px);
  opacity: .6;
}
.box:hover .layer:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: .4;
}


.box_1{
  display: block;
  width: 100vw;
}

.box_1 h3 {
  text-align: center;
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  padding-top: 3em;
  text-transform: uppercase;
  color: #fff;
}

.box_1 p {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}
.box_1 a {
  color: #fff;
}

td {
  display: block;
}
