/* imports */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-family: 'Roboto', sans-serif;
  padding-top: 66px;
  height: 1080px;
  width: 100vw;
  background: url('../images/wallpaper.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body h1{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.kleur {
  color: #f318ff;
  text-decoration: none;
}

.body p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  width: 50vw;
  font-size: 1.2em;
}


.about p {
  letter-spacing: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13em;
  font-size: 1.3em;
  text-align: center;
  width: 900px;
  color: #fff;
}

.white_line {
  height: 1px;
  width: 100vw;
  background-color: #fff;
}

#show_up{
  width: 200px;
  height: 200px;
  border: 1px solid #ddd;
  display: none;
}
#show_up a{
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 5px;
}

/* gallery */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 1em;
}

.gallery img {
  opacity: .9;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contact p {
  letter-spacing: 1px;
  font-size: 1.3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  text-align: center;
  color: #fff;
}
